<div class="container pokimon mt-7 mt-sm-8 mb-5">
  email: <%= @me.email%><br/>
  balance: <%= @me.balance%>7


  <%= link_to add_money_path, method: :get, class: "btn btn-primary " do %>
    add money
  <% end %>
</div>