<% if model_instance.errors.any? %>
  <div id="error_explanation" class="bg-warning mt-3">
    <h2 ><%= pluralize(model_instance.errors.count, "error prohibited #{model_instance.class.to_s.downcase} from being saved:") %> </h2>
    <ul>
      <% model_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
